{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <h2>Student Registrations</h2>

    </div>

    <table class="table table-striped table-hover shadow">

        <thead class="table-dark">

            <tr>

                <th>ID</th>

                <th>Name</th>

                <th>Roll No</th>

                <th>Email</th>

                <th>Club</th>

                <th>Event</th>

            </tr>

        </thead>

        <tbody>

            {% for student in registrations %}

            <tr>

                <td>{{ student.id }}</td>

                <td>{{ student.student_name }}</td>

                <td>{{ student.roll_number }}</td>

                <td>{{ student.email }}</td>

                <td>{{ student.club_name }}</td>

                <td>{{ student.event_name }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}