{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-5">

            <div class="card shadow">

                <div class="card-header bg-success text-white text-center">

                    <h3>Student Login</h3>

                </div>

                <div class="card-body">

                    {% if error %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                    {% endif %}

                    <form method="POST">

                        <div class="mb-3">

                            <label>Roll Number</label>

                            <input
                                type="text"
                                name="roll_number"
                                class="form-control"
                                required>

                        </div>

                        <div class="mb-3">

                            <label>Password</label>

                            <input
                                type="password"
                                name="password"
                                class="form-control"
                                required>

                        </div>

                        <button
                            class="btn btn-success w-100">

                            Login

                        </button>

                    </form>

                    <hr>

                    <p class="text-center">

                        New Student?

                        <a href="{{ url_for('student_register') }}">

                            Register Here

                        </a>

                    </p>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}